* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Virtucorp';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 161, 149);
    border: 10px solid black;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    margin-top: 30px;
}

.display {
    height: 120px;
    flex: .25;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 36px;
}

.input-1,
.input-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.input-1 {
    font-size: 32px;
    flex: 0.7;
}

.input-2 {
    flex: 1;
}

.buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
}

.calc-btn {
    flex: 1;
}

button {
    padding: 10px;
    font-size: 20px;
    font-family: 'Virtucorp';
    cursor: pointer;
}