@font-face {
    font-family: 'Virtucorp';
    src: url('Virtucorp.otf');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Virtucorp';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 43, 49);
    border: 5px solid black;
    border-radius: 20px;
    height: 500px;
    width: 350px;
    margin-top: 30px;
}

.display {
    height: 120px;
    flex: .25;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 36px;
}

.input-1,
.input-2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.input-1 {
    font-size: 32px;
    flex: 0.7;
}

.input-2 {
    flex: 1;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 2px;
}

.calc-btn {
    flex: 1;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    flex: 1;
    display: flex;
    gap: 2px;
}

.first-row button {
    background-color: rgb(255, 94, 0);
}

button {
    padding: 10px;
    font-size: 20px;
    font-family: 'Virtucorp';
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}